<div class="row">
	<div class="col-md-8">
		<%= render 'users/nav_tabs' %>
		<div id="user_info">
			<%= render @content %>
		</div>
	</div>
	<div class="col-md-4">
		<h2><%= @user.username %></h2>
		<%= render 'shared/user_stats', user: @user %>
	</div>
</div>