<div class="downvoted">
	<%= render 'links/unvoted_arrow', link: link, direction: 'up' %>
	<div class="score">
		<%= link.score.to_s %>
	</div>
	<%= render 'links/voted_arrow', link: link, direction: 'down' %>
</div>