@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

.checkbox {
	margin-left: 20px;
}

.btn {
	margin-top: 5px;
}

/* typography */

h1, h2 {
	text-align: center;
}

a {
	text-decoration: none;
}

/* elements */

.jumbotron {
	margin: 0 25px;
	border-radius: 10px;
}

/* alerts */

.alert {
	ul {
		li {
			list-style: none
		}
	}
}

.alert-notice {
	background-color: $state-success-bg
}

/* Links */

.links {

}

.link-info {
	background-color: $gray-lighter;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.link-title {
	display: block;
	font-size: 1.5em;
}

.link-timestamp, .link-actions{
	display: block;
	color: $gray-light;
	font-style: italic;
	font-size: 0.8em;
}

.link-description {
	border: 2px solid $gray-lighter;
	border-radius: 5px;
}

/* Voting */

.vote-form {
	.glyphicon {
		font-size: 1em;
		color: $gray-light;
		font-weight: bold;
	}
	.score {
		font-size: 0.8em;
		color: $gray-light;
		padding-left: 4px;
		padding-bottom: 3px;
		font-weight: bold;
	}
}

.upvoted .glyphicon-arrow-up {
	color: #FF9900;
}

.downvoted .glyphicon-arrow-down {
	color: #0099CC;
}